doctype html
html(lang="en", xmlns="http://www.w3.org/1999/xhtml", xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    meta(name="x-apple-disable-message-reformatting")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(content="telephone=no", name="format-detection")
    title Reset password email
    style.
      body {
      margin: 0;
      padding: 0;
      background-color: #f6f6f6;
      font-family:  "Gill Sans", sans-serif;;
      }
      
      .es-wrapper {
      width: 100%;
      background-color: #f6f6f6;
      padding: 0;
      }
      
      .es-content-body {
      width: 100%;
      max-width: 600px;
      background-color: #ffffff;
      margin: 0 auto;
      }
      
      .es-header {
      background-color: #ffffff;
      padding: 20px;
      }
      
      .es-header h1 {
      color: #3c3b3b;
      font-size: 32px;
      font-weight: bold;
      margin: 0;
      }
      
      .es-header img {
      width: 200px;
      height: auto;
      }
      
      .es-main {
      background-color: #090101;
      background-image: url('https://tlr.stripocdn.email/content/guids/CABINET_d6b02eef486e424923e42d33952bbae0/images/79241561453270953.jpg');
      background-position: center top;
      background-repeat: no-repeat;
      width:87%;
      height:300px;
      
      
      }
      
      .es-main h1 {
      color: #ffffff;
      line-height: 150%;
      margin: 0 0 10px;
      font-size: 28px;
      }
      
      .es-button {
      background-color: #f63e60;
      color: #ffffff;
      text-decoration: none;
      padding: 15px 30px;
      border-radius: 5px;
      font-size: 18px;
      display: inline-block;
      }
      
      .es-main p {
      color: #ffffff;
      font-size: 18px;
      margin: 20px 0 0;
      }
      
      .es-footer {
      background-color: #f4f4f4;
      padding: 10px;
      }
      
      .es-footer h2 {
      font-size: 20px;
      color: #333333;
      margin-bottom: 10px;
      }
      
      .es-footer p {
      font-size: 16px;
      color: #666666;
      margin: 0;
      }
      
      .contact-details img {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      margin-right: 10px;
      margin-top: 5px;
      }
      
      .contact-details p {
      display: inline-block;
      font-size: 16px;
      color: #0000ff;
      margin: 0;
      }
      
      .es-footer a {
      color: #999999;
      text-decoration: none;
      font-size: 14px;
      }
      
      @media only screen and (max-width: 600px) {
      .es-content-body {
      width: 100% !important;
      }
      
      .es-header h1,
      .es-main h1 {
      font-size: 24px !important;
      }
      
      .es-button {
      padding: 12px 20px !important;
      font-size: 16px !important;
      }
      
      .es-main p {
      font-size: 16px !important;
      }
      
      .contact-details img {
      width: 25px !important;
      }
      
      .contact-details p {
      font-size: 14px !important;
      }
      .clickButton p{
      color:#77bb79;
      }
      .forget p{
      color:#dd8e8c;
      }
      }
  body
    .es-wrapper
      // Header
      table.es-content.es-header(cellpadding="0", cellspacing="0", align="center")
        tr
          td(align="center")
            img(src="https://www.creativefabrica.com/wp-content/uploads/2022/12/01/Sport-Fitness-Gym-Logo-Template-Graphics-49716794-1.jpg", alt="Logo", width="200", style="display:block;")
        tr
          td(align="center")
            h1 #{subject}
      // Main Content
      h1(align="center") Hi #{firstName}
      table.es-content.es-main(cellpadding="0", cellspacing="0", align="center")
        tr
          td(align="center")
            h1 Forgot your password?
        tr.clickButton
          td(align="center")
            p Click on the button to reset your password.
        tr
          td(align="center")
            a.es-button(href=`${url}`) Reset Password
        tr.forget
          td(align="center")
            p If you didn’t forget your password, please ignore this email.
      // Contact Info
      table.es-footer(cellpadding="0", cellspacing="0", align="center")
        tr
          td
            table(width="100%", cellpadding="0", cellspacing="0")
              tr
                td(valign="top", style="padding: 10px;")
                  h2 Get in Touch
                  p For any questions or concerns, feel free to reach out to us.
              tr
                td.contact-details
                  img(src="https://tlr.stripocdn.email/content/guids/CABINET_d6b02eef486e424923e42d33952bbae0/images/48411561457221481.png", alt="Phone")
                  p
                    b +213 697 97 96 35
              tr
                td.contact-details
                  img(src="https://tlr.stripocdn.email/content/guids/CABINET_d6b02eef486e424923e42d33952bbae0/images/34561561457385078.png", alt="Email")
                  p
                    b roguefit@gmail.com
              tr
                td.contact-details
                  img(src="https://tlr.stripocdn.email/content/guids/CABINET_d6b02eef486e424923e42d33952bbae0/images/9911561457458673.png", alt="Address")
                  p
                    b Algeria, Laghouat
        // Footer Section
        tr
          td(align="center", style="padding-top: 20px;")
            p
              a(href="#") Privacy Policy
              | •
              a(href="#") Unsubscribe
            p Copyright © 2024 roguefit